html, body {
    height: 100%;
}

body {
    display: flex;
    flex-direction: column;
    background-color: #f4f4f4;
}

.btn-edit {
    background-color: white; /* Couleur de fond */
    border-color: #f8f9fa; /* Couleur de la bordure */
    color: #1e285d; /* Couleur du texte */
}

.btn-delete {
    background-color: white; /* Couleur de fond */
    border-color: #f8f9fa; /* Couleur de la bordure */
    color: #dc3545; /* Couleur du texte */
}

.flex-grow-1 {
    flex-grow: 1;
}

#validation {
    background-color: #c1e0fc;
}

.list-group-item {
    cursor: pointer;
    padding: 5px;
    border: 1px solid #ddd;
}

.list-group-item:hover {
    background-color: #f5f5f5;
    color: #005fbf;
}

.ui-autocomplete {
    position: absolute;
    z-index: 9999;
    background-color: #fff;
    border: 1px solid #ccc;
    padding: 5px;
    max-height: 200px;
    overflow-y: auto;
}

.ui-autocomplete li {
    list-style-type: none;
    padding: 3px 20px;
    cursor: pointer;
}

.ui-autocomplete li:hover {
    background-color: #f4f4f4;
}

.ui-helper-hidden-accessible {
    display: none;
}
